body,
button,
input,
select,
optgroup,
textarea {
	color: $color__text-main;
	font-family: $font__main;
  font-weight: 400;
  font-style: normal;
	@include font-size(1);
	line-height: $font__line-height-body;
	overflow-x: hidden;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
}

@import "headings";

@import "copy";


// body {
// 	color: #2c2c2c;
// 	font-size: 14px;
// 	font-family: Montserrat,Helvetica Neue,Arial,sans-serif;
// 	overflow-x: hidden;
// 	-moz-osx-font-smoothing: grayscale;
// 	-webkit-font-smoothing: antialiased;
// }