/*!
Theme Name: Now UI Kit Custom WP
Theme URI: https://underscores.me/
Author: Arhi
Author URI: https://www.mwt.co.id/
Description: Hi. I'm a starter theme called <code>MJS Landing Page</code>, or <em>underscores</em>, if you like. I'm a theme meant for hacking so don't use me as a <em>Parent Theme</em>. Instead try turning me into the next, most awesome, WordPress theme out there. That's what I'm here for.
Version: 4.2.0
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: mwt
Tags: custom-background, custom-logo, custom-menu, featured-images, threaded-comments, translation-ready

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

Metic UI is based on Underscores https://underscores.me/, (C) 2012-2017 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal https://necolas.github.io/normalize.css/
*/

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Normalize
# Typography
# Elements
# Forms
# Navigation
	## Links
	## Menus
# Accessibility
# Alignments
# Clearings
# Widgets
# Content
	## Posts and pages
	## Comments
# Infinite scroll
# Media
	## Captions
	## Galleries
--------------------------------------------------------------*/

@import "variables-site/variables-site";
@import "mixins/mixins-master";

/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
//@import "normalize";

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
@import "typography/typography";

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
//@import "elements/elements";

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
//@import "forms/forms";

/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
//@import "navigation/navigation";

/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
//@import "modules/accessibility";

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
//@import "modules/alignments";

/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/
//@import "modules/clearings";

/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
//@import "site/secondary/widgets";

/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
//@import "site/site";

/*--------------------------------------------------------------
# Infinite scroll
--------------------------------------------------------------*/
//@import "modules/infinite-scroll";

/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
//@import "media/media";

@import "assets/now-ui-kit";
@import "assets/theme";

#preloader { 
  position: fixed; 
  left: 0; 
  top: 0; 
  z-index: 9999; 
  width: 100%; 
  height: 100%; 
  overflow: visible; 
  background: #fff url('assets/img/loading100.gif') no-repeat center center; 
}

@-webkit-keyframes levitate{
    from{
        -webkit-transform:translate(0, 0);
        transform:translate(0, 0)
    }
    50%{
        -webkit-transform:translate(0, 10px);
        transform:translate(0, 10px)
    }
    to{
        -webkit-transform:translate(0, 0);
        transform:translate(0, 0)
    }
}
@keyframes levitate{
    from{
        -webkit-transform:translate(0, 0);
        transform:translate(0, 0)
    }
    50%{
        -webkit-transform:translate(0, 10px);
        transform:translate(0, 10px)
    }
    to{
        -webkit-transform:translate(0, 0);
        transform:translate(0, 0)
    }
}
.levitate{
    -webkit-animation-name:levitate;
    animation-name:levitate;
    -webkit-animation-duration:3s;
    animation-duration:3s;
    -webkit-animation-iteration-count:infinite;
    animation-iteration-count:infinite;
    -webkit-animation-timing-function:ease-in-out;
    animation-timing-function:ease-in-out
}

/* .navbar .navbar-nav > li > a {
	color: inherit;
	padding-top: 15px;
	padding-bottom: 15px;
	font-weight: 600;
	font-size: 12px;
	text-transform: uppercase;
	border-radius: 3px;
} */

.form-check .form-check-label {
	display: inline-block;
	position: relative;
	cursor: pointer;
	padding-left: 35px;
	line-height: 26px;
	margin-bottom: 1em;
  margin-right: 1em;
}

.page-template-template-contact iframe {
  max-width: 100%;
}