.mwt-whatsapp-chat {
  position: relative;
  z-index: 999;
  a {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
  }
}

.footer {
  img.logo-img {
    height: 25px;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);  
  }
  .credits {
    display: none !important;
  }
}

.contact-nav .no-hover .nav-link:hover {
  background: none !important;
}